/* Custom style for long code blocks */
code:not([class*="language-"]) {
  display: block;
  overflow: auto; /* Enable both horizontal and vertical scrolling */
  white-space: pre; /* Use 'pre' instead of 'pre-wrap' */
  max-height: 300px; /* Set the maximum height as per your preference */
}

/* Custom style for floating TOC */
.floating-toc {
  position: fixed;
  top: 160px;
  left: 10px;
  transform: translateY(0);
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 60vh;
  overflow-y: auto;
  width: 15%;
  font-size: 14px;
  text-align: left;
  list-style: none;

  --text-color: black; /* Default text color for light mode */
  color: var(--text-color); /* Use the custom property for text color */

  /* Add the dark mode styles using [data-theme="dark"] selector */
  [data-theme="dark"] & {
    --text-color: white; /* Text color for dark mode */
    color: var(--text-color); /* Use the custom property for text color */

    a {
      color: white; /* Set font color for TOC links in dark mode */
    }
  }

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: black; /* Set font color for TOC links */
    }

    li {
      padding-left: 0; /* Adjust the indentation for subsections */
    }
  }

  /* Add a media query to adjust the position when the window size is reduced */
  @media screen and (max-width: 768px) {
    position: relative;
    top: auto;
    left: 0;
    width: 100%;
    max-height: none;
  }

  /* Add this to your custom CSS */
  a.active {
    font-weight: bold; /* Make the active link bold */
    color: #007bff; /* Set the color of the active link as you desire */
  }
}
